.first {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.nav {
    background: #fff;
    color: #000;
    border-radius: 0;
    height: 90px;
    border: none;
    box-shadow: 0 2px 5px 0px grey;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-left: -8px;
}

.img {
    margin-left: 80px;
    margin-top: 10px;
}

.btn {
    margin-top: -60px;
    margin-left: 80%;
}

.btn1 {
    height: 35px;
    width: 120px;
    background-color: #F4791f;
    border: none;
    color: white;
    border-radius: 25px;
}

.btn2 {
    margin-left: 30px;
    height: 35px;
    width: 120px;
    background-color: #F4791f;
    border: none;
    color: white;
    border-radius: 25px;
    margin-top: -20px;
}

.btn1:hover {
    background-color: white;
    color: #F4791f;
    border: 2px solid #F4791f;
}

.btn2:hover {
    background-color: white;
    color: #F4791f;
    border: 2px solid #F4791f;
}

.text {
    appearance: textfield;
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: inherit;
    font: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    box-sizing: border-box;
    margin-top: 14px;
    margin-bottom: 0px;
    padding: 10px 0;
}

.text1 {
    appearance: textfield;
    padding: 0px;
    position: relative;
    width: 85%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: inherit;
    font: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    box-sizing: border-box;
    margin-top: 14px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid black;
}

.text2 {
    margin-bottom: 0px;
    margin-top: 14px;
}

.line {
    border-top: none rgb(224, 224, 224);
    border-left: none rgb(224, 224, 224);
    border-right: none rgb(224, 224, 224);
    border-bottom: 1px solid rgb(40, 14, 14);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
}

.button {
    height: 50px;
    width: 90px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 15px;
    margin-left: 45%;
    margin-top: 80px;
    background-color: #F4791f;
    border: transparent;
    color: white;
}

.container {
    height: 500px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 100px;
}

.main-container {
    margin-top: 130px;
}

.p-container {
    width: 80%;
    margin-left: 150px;
}

i {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}
/* FOOTER CSS */
.main-footer {
    margin: 0px;
    padding: 0px;
    background: #001C30;
    height: 500px;
    display: flex;
    margin-top: 100px;
  }
  
  .card-conatiner {
    height: 340px;
    width: 250px;
    margin-bottom: 15px;
    background: #05101e;
    border-top: 4px solid #f60;
    text-align: center;
    padding: 20px 10px;
    margin-right: 80px;
    color: #fff;
    margin-left: 50px;
    border-radius: 30px;
    margin-top: 18px;
  }
  
  .footer1 {
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .footer2 {
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .footer-img1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
  }
  
  .footer3 {
    margin-left: 120px;
    text-align: center;
    justify-content: center;
  }
  
  .footer-ul {
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding-inline-start: 40PX;
  }
  
  .footer-a:hover {
    color: #f60;
  }
  
  .footer-a {
    color: #fff;
    text-decoration: none;
  }
  
  .head3 {
    color: #fff;
  }
  
  .footer-hr {
    color: black;
    margin-top: -50px;
    width: 80%;
    margin-left: 10%;
  }
  
  .cpoy1 {
    color: #fff;
    margin-left: 20px;
  }
  
  
  article {
    text-align: center;
  }
  
  span {
    font-size: 20px;
    color: #f60;
    font-weight: bolder;
  }
  
  .twitter {
    background-color: #05101e;
    height: 30px;
    width: 30px;
    border-radius: 10px;
  }
  .fa-brands{
    margin-top: 7px;
  }
  .twitter:hover{
    background-color: #f60;
  }